*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Eagle files
eagle/*.?#?
eagle/eagle.epf
eagle/*.bom.txt
eagle/*.dri
eagle/*.dru
eagle/*.gpi
eagle/gerber/*.zip

# LPCXpresso files
firmware/*.launch
firmware/.settings
firmware/Release
firmware/Debug

# OS X file
*.DS_Store

